.videoclass {
    position: relative;
    top: 0%;
    left: 2%;
    z-index: 1;
    height: auto;
    width: 96%;
    overflow: hidden;
}

.videoclass video {
    height: auto;
    width: 100%;
}